@import "tailwindcss";

@theme {
  --color-primary: #0F172A;
  --color-secondary: #F97316;
  --color-accent: #F59E0B;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans antialiased text-gray-800 bg-gray-50;
  }
}